.navbar {
  width: 100%;
  position: sticky;
  top: 0;

  background: rgba(15, 15, 15, 0.85);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #222;

  z-index: 1000;
}

.navbar-container {
  max-width: 1100px;
  margin: auto;
  padding: 16px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: clamp(18px, 5vw, 22px);
  font-weight: 700;
}

.nav-links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background: rgba(15, 15, 15, 0.95);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #222;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 20px 0;

  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;

  transition: all 0.3s ease;
}

.nav-links.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.nav-links a {
  position: relative;
  font-size: 16px;
  color: #ccc;
  transition: color 0.2s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 100%;
  height: 2px;
  background: white;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

@media (hover: hover) {
  .nav-links a:hover::after {
    transform: scaleX(1);
  }

  .nav-links a:hover {
    color: white;
  }
}

.menu-toggle {
  display: block;
  cursor: pointer;
  font-size: 22px;
  color: #ccc;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .nav-links {
    position: static;
    width: auto;
    background: none;
    border: none;
    backdrop-filter: none;

    flex-direction: row;
    gap: 30px;

    padding: 0;

    transform: none;
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links a {
    font-size: 15px;
  }
}